.listItem {
  display: flex;
  justify-content: space-between;
}

.todoItem {
  flex:1;

  .todoTag {
      margin-left: 10px;
  }

  .todoName {
      display: inline-block;
      text-transform: capitalize;
  }

  .progress {
    display: inline-block;
    margin-left: 16px;
    width: 50%;
  }
}
